<!doctype html>
<html lang="en" ng-app="chattyApp" data-framework="firebase">
    <head>
        <meta charset="utf-8">
        <title>Firebase Clone</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel='stylesheet' href='style.css' />
        <style>[ng-cloak] { display: none; }</style>

        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <!-- Firebase -->
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
        <!-- Code -->
        <script src='app.js'></script>
    </head>
    <body ng-controller="chattyCtrl">
        <h1>Firebase Todo</h1>

        <form ng-submit="addMessage()">
          <input ng-model="newMessageText" placeholder="Message" />
          <input ng-model="username" placeholder="Username" />
          <button type="submit">Add Message</button>
        </form>

        <hr />

        <div class="messageBlock" ng-repeat="message in messages">
            <div class="messageDeleteButton glyphicon glyphicon-trash" ng-click="messages.$remove(message)"></div>
            <div class="messageContent">
                <h3 class="messageSender">{{ message.sender }}</h3>
                <span class="messageText">{{ message.message }}</span>
            </div>
        </div>
    </body>
</html>