body {
	margin: 0;
	padding-left: 20px;
}

.messageBlock {
	display: inline-flex;
	justify-content: flex-start;

    padding: 9.5px;
    margin: 0 0 10px;
    width: 400px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;

    transition: 1s;
}

.isResponse {
	margin-left: 50px;
	border-color: #630;
}

.messageContent {
	display: inline-block;
}

.messageDeleteButton {
	display: inline-block;
	background: #e6e6e6;
    border: 1px solid #ccc;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 10px;
	text-align: center;
	color: black;
	margin-right: 10px;
}

.messageDeleteButton:hover {
	border-color: #630;
}

.messageDeleteButton:active {
	border-color: #630;
	background: #bfbfbf;
}

.messageSender {
	margin: 0;
}

.messageText {
	font-size: 14px;
}