.messageBlock {
	display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.messageContent{
	display: inline-block;
}

.messageDeleteButton{
	display: inline-block;
	background: #e6e6e6;
    border: 1px solid #ccc;
	width: 30px;
	height: 30px;
	border-radius: 10px;
	text-align: center;
	color: black;
}

.messageSender {
	margin: 0;
}

.messageText {
	font-size: 14px;
}